header>div>h2{
    color: #272727;
font-family: Lato;
font-size: 80px;
font-style: normal;
font-weight: 800;
line-height: normal;
}
header>div>p{
    color: rgba(39, 39, 39, 0.60);

font-family: Lato;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px;
}
header{
    background-color: rgba(229, 84, 115, 0.10);
    display: flex;
    gap: 250px;
    padding: 50px 240px;
 }
.btn-primary{
    border-radius: 8px;
    background: #E55473;
    border: 0;
padding: 20px 43px;}
.btn-text{
    color: #FFF;

font-family: Lato;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.flower-img{
    width: 635px;
height: 800px;
}
.flowerdetail-container{
    text-align: center;
    margin-top: 128px;
}
.flowerdetail-title{
    color: #272727;

text-align: center;
font-family: Lato;
font-size: 40px;
font-style: normal;
font-weight: 800;
line-height: normal;
}
.flowerdetail-description{
    color: rgba(39, 39, 39, 0.60);
text-align: center;
font-family: Lato;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px; /* 166.667% */
}
.flower-container{
    display: flex;
    gap: 24px;
    justify-content:space-around;
    align-items: center;
}
.flower-container div >img{
    width: 310px;
height: 428px;
}
.flower-title{
    color: #272727;
text-align: center;
font-family: Lato;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: 35px; /* 145.833% */
text-decoration-line: underline;
}
.service-container{
    display: flex;
    gap: 100px;
   justify-content: center;
   border-radius: 8px;
   background: rgba(39, 39, 39, 0.05);
   padding: 86px 320px;
   margin:100px;
}
.service-container>div>p{
    color: rgba(39, 39, 39, 0.80);
text-align: center;
font-family: Lato;
font-size: 24px;
font-style: normal;
font-weight: 600;
line-height: 35px; /* 145.833% */
}
.add-container{
    display: flex;
 background: rgba(229, 84, 115, 0.10);
justify-content: center;
margin-top: 128px;
padding-top: 230px;}
.flowerstore-container{
    display: flex;
    margin-top: 50px;
    gap:24px;
    justify-content: center;
}

.email-field{
    border-radius: 8px;
background: #FFF;
width: 700px;
height: 64px;
flex-shrink: 0;

}
.email-section{
    background-image: url('/Styles/Rectangle\ 9.png');
    background-repeat: no-repeat;
    background-position: center;
    padding: 150px;
}
.flower-shop-container{
background-color: black;
padding: 40px;
}
.flower-shop-title{
    color: #E55473;
font-family: Lato;
font-size: 48px;
font-style: normal;
font-weight: 800;
line-height: normal;
}
.flower-shop-description{
    color: rgba(255, 255, 255, 0.90);
text-align: center;
font-family: Lato;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px; /* 166.667% */
}
.shop-text{
    color: #FFF;
}
.all-rights{
    color: rgba(255, 255, 255, 0.40);
    text-align: center;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}